---
import NotesLayout from '../layouts/NotesLayout.astro';
import { getCollection } from 'astro:content';

const notes = (await getCollection('notes'))
    .filter(note => note.data.publish !== false)
    .sort((a, b) => {
        const aTime = a.data.updated_date?.getTime?.() || a.data.created_date?.getTime?.() || 0;
        const bTime = b.data.updated_date?.getTime?.() || b.data.created_date?.getTime?.() || 0;
        return bTime - aTime;
    });
---

<NotesLayout title="Study Notes" description="Published study notes from my Obsidian vault.">
    <h1>Study Notes</h1>
    <ul>
        {notes.map((note) => (
            <li>
                <a href={("/notes/" + (note.data.slug || note.id.replace(/\.[^/.]+$/, '')))}>
                    {note.data.title || note.id.split('/').pop()?.replace(/-/g, ' ').replace(/_/g, ' ')}
                </a>
            </li>
        ))}
    </ul>
</NotesLayout>

