footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin: 3rem 0 4rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--lightgray);
  color: var(--darkgray);

  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.7rem;
  }

  & p {
    margin: 0;
    color: var(--darkgray);
    font-size: 0.92rem;
  }

  & a {
    background: transparent;
    color: var(--secondary);
    font-size: 0.92rem;
  }

  @media all and (max-width: 800px) {
    align-items: flex-start;
    flex-direction: column;
  }
}
